__pycache__/
*.py[cod]
*.pth
*.pt
data/raw/
data/processed/
data/gtzan/
*.zip
*.wav
*.mp3
.ipynb_checkpoints
.env
.venv
venv/
.DS_Store
*.log
results/logs/
wandb/
.cache/
.pytest_cache/
data/**
runs/**
*.pt
__pycache__/
*.pyc
